<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="NewLife.Core" version="8.7.2020.308" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
</packages>